
.nav-class {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white; 
  }
  .nav-class .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    height: 100px; 
    width: auto;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin-left: 20px;
    position: relative;  
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding-left: 10px;  
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #39c3f1;
  }
  
  
  .nav-links li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;  
    height: 50%;  
    background-color: #741071;  
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }
  
  .nav-links a:hover::before {
    opacity: 1;
  }
  
  .nav-links li:nth-child(1)::before {
    background-color: #00ddff; 
  }
  
  .nav-links li:nth-child(2)::before {
    background-color: #ffff00; 
  }
  
  .nav-links li:nth-child(3)::before {
    background-color: #eb7cac; 
  }
  
  .nav-links li:nth-child(4)::before {
    background-color: #e10dd0; 
  }